<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Relationship between SF Roads and Traffic Accidents</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
<script type="text/javascript" src ="{{ url_for('static', filename='d3/d3.min.js') }}"></script> 

<script src ="{{ url_for('static', filename='papaparse.min.js') }}"></script> ]]

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>
<div id="accidents_by_neigh_bikelane_year"></div>


<script type="text/javascript">
const w = 1000;
    const h = 200;

d3.select("#accidents_by_neigh_bikelane_year")
                  .append("svg")
                 .attr("width", w)
                  .attr("height", h)
				  .style("background-color", "pink");

   

console.log( '/data1.csv' );
 
  
</script>


   
</body>
</html> 
