<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Relationship between SF Roads and Traffic Accidents</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />

<script type="text/javascript" src ="{{ url_for('static', filename='d3/d3.min.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>


</head>
<body>
<select id="districts" method="GET" action="/">
  <!-- for district in districts, create an option value -->
    {% for district in districts %}
        <option value="{{district}}" SELECTED>{{district}}</option>"
    {% endfor %}
</select>
<div id="accidents_by_neigh_bikelane_year"></div>

<script type="text/javascript">

const w = 16*40+20;
const h = 400;

const canvas = d3.select("#accidents_by_neigh_bikelane_year")
                  .append("svg") // creates chart
                 .attr("width", w) // width and height of the server
                  .attr("height", h)
				  //.style("background-color", "grey")
				  ; // background-color

// uploads the json from flask
var bikelanes_exist = {{ accident_counts_bydistrict_yesbikelane_json.accident_counts_bydistrict_yesbikelane_json | safe }};

// from https://stackoverflow.com/questions/52119854/d3-javascript-filter-data-according-to-input
function filterDataset( selectedDistrict )
{
  var bikelanes_exist_filtered = bikelanes_exist.filter(
    function(val)
    {
    return ( val.PdDistrict === selectedDistrict);
  });

  return bikelanes_exist_filtered;
}

function generateGraph(bikelanes_exist_filtered) {
  console.log( bikelanes_exist_filtered);
    year = [];
    std_num_accidents = [];

    // converts numerical columns into numerical values (originally strings)
    // wonder if there's a way to operation and select these columns by datatype
    bikelanes_exist_filtered
    .forEach( // for each, what is a row in the df, but a point in the array bikelanes_exist
    	function(val)
      {
      	year.push(val.accident_year);
      	std_num_accidents.push(val.std_metric);
    	}
    );

    // remove previous elements and make new graph
    canvas.selectAll("*").remove();

    // bind data
    canvas.selectAll("rect")
           .data(std_num_accidents)
           .enter()
           .append("rect")
           .attr("x", (d, i) => ((i+1) * 40)+10)
           .attr("y", (d, i) => h - d*3-60)
           .attr("width", 30)
           .attr("height", (d, i) => d*3 )
           .attr("fill", "navy");


  canvas.selectAll("text")
        .data(year)
        .enter()
    	  .append("text") //text element is another shape, like the rect element
    	  .text((d) => d)
    	  .attr("x", (d, i) => ((i+1) * 40)+10)
        .attr("y", (d, i) => h-25)
    	  .style('fill', 'black')
    	  .style('font-size', '10px');
}

function newSelection(newDistrict)
{
  generateGraph( filterDataset(newDistrict) );
}


d3.select('#districts')
  .on('change', function() {
    var newDistrict = d3.select(this).property('value');
    newSelection(newDistrict);
});


// generate initial legend
newSelection('TENDERLOIN');

</script>
</body>
</html>
